*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  /* align-items: flex-end; */
  width: 1140px;
  height: 696px;
  gap: 30px;
}

.search-form {
  display: flex;
  /* justify-content: flex-start;
  gap: 30px; */
  justify-content: space-between;
  margin-top: 15px;
}

.result {
  width: 711px;
  height: 456px;
  gap: 16px;

}

.content__details {
 height: 100%;
}

.result__video-container {
  position: relative;
  margin-top: 77px;
  width: 711px;
  height: 386px; 
}

.result__video {
  object-fit: cover;
  width: 100%; 
  height: 100%;
}

.content__list {
  gap: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 399px;
  height: 298px;
  margin-top: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__list-item {
  width: 398px;
  height: 107px;
  padding: 2;
}

.content__card-link {
  width: 194px;
  height: 103px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  object-fit: cover;
  width: 194px;
  height: 103px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}


.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.button {
  border: 1px solid #FFFFFF;
  align-self: flex-end;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;  
  color: #FFFFFF;
  background-color: inherit;
  height: 34px;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 


.search-form__fieldset {
  display: flex;
  flex-direction: column;
  width: 225px;
  height: 54px;
  gap: 5px;
  border: none;
  text-align: left;
}

.search-form__label {
  display: inline-block;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  width: 235px;
  height: 22px;
  letter-spacing: 0em;
  border-color: inherit;
  color: inherit;
  background-color: inherit;
  padding-bottom: 12px;
  padding-top: 12px;
}

